form{
    margin-top:40px;
    display:grid;
    text-align: center;
}
header{
   margin:auto;
   text-align: center;
   border-bottom: solid 3px rgb(132, 132, 132);
   width:75%;

}
.course1{
    margin:auto;
    
    width:75%;
    text-align: center;
    display:grid;
    grid-template-areas: 
    "T1 T2"
    "A1 A2";
}
.label1{
    grid-area: T2;
}
.label{
    grid-area: T1;   
}
.course{
    grid-area: A2;
}
.grade{
    grid-area: A1;
}